<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <style>
      img {
        width: 50%;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <h1>404 Not Found</h1>
    <img src="images/404.png" alt="" /> 
    <!-- 访问的是静态资源 public下的文件 -->
  </body>
</html>
